<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <table>
      <thead class="border">
        <td>Product</td>
        <td>Quantity</td>
        <td>total</td>
      </thead>
      <tbody>
        <td>
          <div class="flex gap-5">
            <div>
              <img
                src="../../../assets/images/KamenRider/Decade/Decade1/Decade1.png"
                class="h-[130px] px-1"
              />
            </div>
            <div class="grid items-center mx-1">
              <a class="hover:text-[#38A93B]">
                DX Neo Decade Driver & K-Touch 21
              </a>
              <span
                class="uppercase w-24 py-1 px-1 flex rounded-sm bg-[#38A93B]"
              >
                in stock
              </span>
              <span class="text-blue-500">${price}</span>
            </div>
          </div>
        </td>
        <td>1</td>
        <td>10000$</td>
      </tbody>
    </table>
  </body>
</html>
